@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');
h1{
    font-family: 'Libre Baskerville', serif;
}
p{
    font-family: 'Roboto Mono', monospace;
}
#navbar{
    font-family: 'BenchNine', sans-serif;
}
.cursor {
    position: fixed;
    z-index: 9999; /* Set a high z-index to ensure it appears in front */
    top: 0%;
    left: 0%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    mix-blend-mode: screen;
    pointer-events: none;
    filter: blur(50px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}